#body {
    background: url(images/beach.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Oswald', sans-serif;
}

#textbox{
  width: 700px;
  height: 450px;
  background-color: black;
  opacity: 0.6;
  position:absolute;
  top:25%;
  left:24.5%;
  text-align: center;

}

.all{
  text-align: center;
}

.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}
.box-shadow-menu:before {
  padding-bottom: 1000;
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow: 
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
}

#text{
	text-align: center;
  border: 5px black solid;
}


 
.menu-btn span {
    display: block;
    width: 35px;
    height: 6px;
    margin: 8px 0;
    background: rgb(0,0,0);
    z-index: 99;
    padding-right: 2%;
}
 
 #hamburger {
    border: 1px solid #374C77;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    display: block;
    height: 24px;
    padding: 3px 4px 3px;
    position: relative;
    width: 25px;
    background: #4569b2;
    background: -moz-linear-gradient(top,  #4569b2 0%, #4062a5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4569b2), color-stop(100%,#4062a5));
    background: -webkit-linear-gradient(top,  #4569b2 0%,#4062a5 100%);
    background: -o-linear-gradient(top,  #4569b2 0%,#4062a5 100%);
    background: -ms-linear-gradient(top,  #4569b2 0%,#4062a5 100%);
    background: linear-gradient(to bottom,  #4569b2 0%,#4062a5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4569b2', endColorstr='#4062a5',GradientType=0 );
}
.responsive-menu{
    display: none;
}
 
.expand {
    display: block !important; 
}

 

#cf {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
  text-align: right;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  
  border: 5px black solid;
}

#cf img.top:hover {
  opacity:0;
}

.line{
  display: inline;
}



@import url(http://fonts.googleapis.com/css?family=Titillium+Web:700);
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#body {
 
  text-align: center;
}

.btn-slice {
  position: relative;
  display: inline-block;
  padding: 0 2rem;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 7rem;
  line-height: 4.5rem;
  color: grey;
  background-color: transparent;
  border: 5px solid black;
}
.btn-slice:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  height: 100%;
  width: 0;
  background-color: black;
  -webkit-transition: width .5s, left .5s;
  transition: width .5s, left .5s;
}
.btn-slice:hover {
  color: grey;
}
.btn-slice:hover:after {
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: width .5s, left .5s;
  transition: width .5s, left .5s;
}

@supports (-webkit-background-clip: text) {
  .btn-slice {
    background-color: grey;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white);
    background-repeat: no-repeat;
    -webkit-background-size: 0% 100%;
    background-size: 0% 100%;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: background-size .5s;
    transition: background-size .5s;
  }
  .btn-slice:hover {
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }
}


@import url(http://fonts.googleapis.com/css?family=Titillium+Web:700);
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#body {
  text-align: center;
}

.btn-edge {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 3rem;
  color: #333;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#333)), -webkit-gradient(linear, left top, left bottom, from(#333), to(#333)), -webkit-gradient(linear, left top, left bottom, from(#333), to(#333)), -webkit-gradient(linear, left top, left bottom, from(#333), to(#333)), -webkit-gradient(linear, left top, left bottom, from(#333), to(#333)), -webkit-gradient(linear, left top, left bottom, from(#333), to(#333)), -webkit-gradient(linear, left top, left bottom, from(#333), to(#333)), -webkit-gradient(linear, left top, left bottom, from(#333), to(#333));
  background-image: -webkit-linear-gradient(#333, #333), -webkit-linear-gradient(#333, #333), -webkit-linear-gradient(#333, #333), -webkit-linear-gradient(#333, #333), -webkit-linear-gradient(#333, #333), -webkit-linear-gradient(#333, #333), -webkit-linear-gradient(#333, #333), -webkit-linear-gradient(#333, #333);
  background-image: linear-gradient(#333, #333), linear-gradient(#333, #333), linear-gradient(#333, #333), linear-gradient(#333, #333), linear-gradient(#333, #333), linear-gradient(#333, #333), linear-gradient(#333, #333), linear-gradient(#333, #333);
  background-repeat: no-repeat;
  -webkit-background-size: 2rem 5px, 2rem 5px, 2rem 5px, 2rem 5px, 5px 2rem, 5px 2rem, 5px 2rem, 5px 2rem;
  background-size: 2rem 5px, 2rem 5px, 2rem 5px, 2rem 5px, 5px 2rem, 5px 2rem, 5px 2rem, 5px 2rem;
  background-position: 0 0, 100% 0, 0 100%, 100% 100%;
  -webkit-box-shadow: inset 0 0 0 5px rgba(255, 99, 71, 0);
  box-shadow: inset 0 0 0 5px rgba(255, 99, 71, 0);
  -webkit-transition: background-size 1s .4s,  -webkit-box-shadow .4s,  color .4s;
  transition: background-size 1s .4s,  box-shadow .4s,  color .4s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.btn-edge:hover {
  color: grey;
  -webkit-background-size: 100% 5px, 100% 5px, 100% 5px, 100% 5px, 5px 100%, 5px 100%, 5px 100%, 5px 100%;
  background-size: 100% 5px, 100% 5px, 100% 5px, 100% 5px, 5px 100%, 5px 100%, 5px 100%, 5px 100%;
  -webkit-box-shadow: inset 0 0 0 5px grey;
  box-shadow: inset 0 0 0 5px grey;
  -webkit-transition: background-size 1s,  -webkit-box-shadow .4s .6s,  color .4s .6s;
  transition: background-size 1s,  box-shadow .4s .6s,  color .4s .6s;
}

@import url(http://fonts.googleapis.com/css?family=Titillium+Web:700);
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#body {
  
  text-align: center;
}

.btn-loop {
  position: relative;
  display: inline-block;
  padding: 0 1rem;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 3rem;
  color: transparent;
  border: 5px solid grey;
  background-image: -webkit-gradient(linear, left top, left bottom, from(grey), to(grey));
  background-image: -webkit-linear-gradient(grey, grey);
  background-image: linear-gradient(grey, grey);
  background-repeat: no-repeat;
  background-position: 0 100%;
  -webkit-background-size: 100% 0;
  background-size: 100% 0;
  -webkit-transition: background-size .1s;
  transition: background-size .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.btn-loop:after {
  content: attr(name);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: grey;
}
.btn-loop:hover {
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.btn-loop:hover:after {
  -webkit-animation: loop 1s forwards;
  animation: loop 1s forwards;
  color: white;
  -webkit-transition: color .35s .65s;
  transition: color .35s .65s;
}

@supports (-webkit-background-clip: text) {
  .btn-loop:after {
    content: attr(name);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white);
    background-repeat: no-repeat;
    background-position: 0 100%;
    -webkit-background-size: 100% 0;
    background-size: 100% 0;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .btn-loop:hover {
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  .btn-loop:hover:after {
    -webkit-animation: loop .7s forwards;
    animation: loop .7s forwards;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    -webkit-transition: background-size .25s .45s;
    transition: background-size .25s .45s;
  }
}
@-webkit-keyframes loop {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  30% {
    -webkit-transform: translateY(-600%) rotate(330deg);
    transform: translateY(-600%) rotate(330deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(360deg);
    transform: translateY(0) rotate(360deg);
  }
}
@keyframes loop {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  30% {
    -webkit-transform: translateY(-600%) rotate(330deg);
    transform: translateY(-600%) rotate(330deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(360deg);
    transform: translateY(0) rotate(360deg);
  }
}

@import url(http://fonts.googleapis.com/css?family=Titillium+Web:700);
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#body {
  text-align: center;

}

.btn-line {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 3rem;
  color: #333;
  -webkit-box-shadow: inset 0 0 0 5px #333;
  box-shadow: inset 0 0 0 5px #333;
  -webkit-transition: color 1s .2s;
  transition: color 1s .2s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.btn-line:before, .btn-line:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.btn-line:before {
  right: 0;
  top: 0;
  border-top: 5px solid grey;
  border-left: 5px solid grey;
  -webkit-transition: opacity 0 .4s, width .2s .2s, height .2s;
  transition: opacity 0 .4s, width .2s .2s, height .2s;
}
.btn-line:after {
  left: 0;
  bottom: 0;
  border-bottom: 5px solid grey;
  border-right: 5px solid grey;
  -webkit-transition: opacity .05s .7s, width .2s .6s, height .2s .4s;
  transition: opacity .05s .7s, width .2s .6s, height .2s .4s;
}
.btn-line:hover {
  color: grey;
  -webkit-transition: color .2s .8s;
  transition: color .2s .8s;
}
.btn-line:hover:before, .btn-line:hover:after {
  opacity: 1;
  width: 100%;
  height: 100%;
}
.btn-line:hover:before {
  -webkit-transition: opacity 0 .4s, width .2s .4s, height .2s .6s;
  transition: opacity 0 .4s, width .2s .4s, height .2s .6s;
}
.btn-line:hover:after {
  -webkit-transition: opacity 0.05s, width .2s, height .2s .2s;
  transition: opacity 0.05s, width .2s, height .2s .2s;
}

body {
  
}

.carousel {
  display: block;
  position: relative;
  -webkit-transform: translateZ(0);
  /*  for demo only */
  width: 55%;
  min-width: 550px;
  margin: 50px auto;
  font-size: 0;
  background: #EEE;
  padding: 8px;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 10px #000;
  box-shadow: 0 4px 10px #000;
  /********************/
  height: 200px;
  -webkit-overflow-scrolling: touch;
  /* for tablets */
}
.touch .carousel {
  overflow: auto;
}
.carousel:before, .carousel:after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 50px;
  text-align: center;
  font-size: 80px;
  line-height: 190px;
  font-family: arial;
  color: #555;
  font-weight: bold;
  pointer-events: none;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.carousel:before {
  content: '\2039';
  left: 0;
  text-indent: -80px;
  -webkit-box-shadow: 50px 0 20px -20px #EEE inset;
  box-shadow: 50px 0 20px -20px #EEE inset;
}
.carousel:after {
  content: '\203A';
  right: 0;
  text-indent: 50px;
  -webkit-box-shadow: -50px 0 20px -20px #EEE inset;
  box-shadow: -50px 0 20px -20px #EEE inset;
}
.carousel.right:after, .carousel.left:before {
  opacity: 1;
}
.carousel.right:after {
  right: 8px;
  text-indent: 70px;
}
.carousel.left:before {
  left: 8px;
  text-indent: -120px;
}
.carousel > a {
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  color: #CCC;
  font-size: 1.5em;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.carousel > a:hover {
  color: #FFF;
}
.carousel > a.prev {
  left: -20px;
}
.carousel > a.next {
  right: -20px;
}
.carousel > .indicator {
  pointer-events: none;
  position: absolute;
  z-index: 4;
  bottom: 0;
  left: 0;
  background: #D82B6A;
  height: 4px;
  border-radius: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.2s, bottom 0.2s;
  transition: opacity 0.2s, bottom 0.2s;
}
.carousel:hover > .indicator {
  opacity: 1;
  bottom: -10px;
}
.carousel > .wrap {
  overflow: hidden;
  border-radius: 5px;
}
.carousel > .wrap > ul {
  list-style: none;
  white-space: nowrap;
  height: 200px;
}
.carousel > .wrap > ul > li {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin: 0 0 0 5px;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}
.carousel > .wrap > ul > li:first-child {
  margin: 0;
}
.carousel > .wrap > ul > li > img {
  display: block;
  height: 100%;
  margin: auto;
  vertical-align: bottom;
  position: relative;
  z-index: 1;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
#body {
  width: 100%;
  
}
.button {
  margin: 40px auto;
  font-size: 72px;
  font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
  text-decoration: none;
  text-shadow: 1px 1px 0px #fff;
  font-weight: 400;
  color: #666;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 20px 70px 30px;
  position: relative;
  top: 50px;
  background: #eee;
  width: 300px;
  display: block;
  text-align: center;
  box-shadow: 1px 1px 1px #ffffff;
  -moz-box-shadow: 1px 1px 1px #ffffff;
  -webkit-box-shadow: 1px 1px 1px #ffffff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.button:hover {
  color: #333;
  background: #eeffff;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.modalbg {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 99999;
  -moz-transition: all 2s ease-out;
  -webkit-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -transition-delay: 0.2s;
  display: block;
  pointer-events: none;
}
.modalbg .dialog {
  width: 400px;
  position: relative;
  top: -1000px;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ffffff;
  background: -moz-linear-gradient(#ffffff, #cccccc);
  background: -webkit-linear-gradient(#ffffff, #cccccc);
  background: -o-linear-gradient(#ffffff, #cccccc);
  box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
}
.modalbg .dialog .ie7 {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=135, Strength=3);
}
.modalbg:target {
  display: block;
  pointer-events: auto;
  background: rgba(4, 10, 30, 0.8);
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.modalbg:target .dialog {
  top: -20px;
  -moz-transition: all 0.8s ease-out;
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -transition-delay: 0.4s;
}
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -transition-delay: 0.2s;
}
.close .ie7 {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=135, Strength=3);
}
.close:hover {
  background: #00d9ff;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.fineprint {
  font-style: italic;
  font-size: 10px;
  color: #646;
}
a {
  color: #333;
  text-decoration: none;
}

#btn1{

}

#scroll-animate
{
  overflow: hidden;
}

#scroll-animate-main
{
  width: 100%;
  left: 0;
  position: fixed;
}

#heightPage,
#heightScroll
{
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}

#heightPage
{
  left: 0;
}

#heightScroll
{
  right: 0;
}

header
{
  width: 100%;
  height: 100%;
  background: url(http://www.hudsonmarinho.com/lab/header-and-footer-parallax-effect/bg-header.jpg) no-repeat 50% 50%;
  top: 0;
  position: fixed;
  z-index: -1;
}

footer
{
  width: 100%;
  height: 300px;
  background: gray;
  bottom: -300px;
  position: fixed;
  z-index: -1;
}

.content
{
  height: 1000px;
  min-height: 1000px;
  background: #ededed;
  position: relative;
  z-index: 1;
}

.wrapper-parallax {
  margin-top: 100%;
  margin-bottom: 300px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

h1{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: Helvetica;
  font-size: 150px;
  color: #fff;
}

header h1{}

.content h1{
  line-height: 1000px;
  color: #999;
}

footer h1
{
  line-height: 300px;
}

header,
footer,
#scroll-animate-main
{
  -webkit-transition-property: all;
     -moz-transition-property: all;
      transition-property: all;

  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      transition-duration: 0.4s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
     -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
      transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

@import url("http://fonts.googleapis.com/css?family=Gentium+Basic|Open+Sans:700italic,800");
body {
  background: #e84d5b;
}
.container {
  width: 460px;
  margin: 20px auto;
}
h1 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: italic;
  text-align: center;
  margin: 0;
  font-size: 2em;
}
h1 .large {
  font-weight: 800;
  text-transform: uppercase;
  font-style: normal;
  font-size: 1.2em;
  color: white;
  text-align: center;
}
p {
  line-height: 1.8em;
  text-align: center;
  font-family: 'Gentium Basic';
}
a {
  color: rgba(255,255,255,0.3);
  text-decoration: none;
}
a:hover {
  color: #fff;
}
h2.pinline {
  text-align: center;
  display: block;
  overflow: hidden;
  font-size: 1em;
  font-weight: 100;
  margin: 20px 0;
  font-family: 'Open Sans';
  font-weight: 700;
  text-transform: uppercase;
}
h2.pinline span {
  position: relative;
  display: inline-block;
  line-height: 1;
}
h2.pinline span:before,
h2.pinline span:after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  background: #000;
  width: 99999px;
}
h2.pinline span:before {
  left: 100%;
  margin-left: 20px;
}
h2.pinline span:after {
  right: 100%;
  margin-right: 20px;
}

@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");
html {
  height: 100%;
}
html body {
  background: #f5f7fa;
  font: 400 1.5em/1.5 "Lato", Helvetica, Arial, serif;
  color: #f5f7fa;
  text-align: center;
  height: 100%;
}
html body div.opening {
  background: url("http://25.media.tumblr.com/10619b725837ad67344b37ec9bcc5f56/tumblr_mubkjfBSzD1s1ujkmo2_1280.jpg") no-repeat 50% 0 fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
}
html body div.opening .openingText {
  width: 300px;
  height: 150px;
  position: fixed;
  top: 10%;
  left: 34%;
  
  
}
html body div.opening .openingText h1 {
  line-height: 130px;
  font-size: 50px;
}

html body div.firstArticle {
  text-align: justify;
  position: absolute;
  margin: 0 auto;
  color: #434a54;
background: url(images/Bbridge.jpg) no-repeat 50% 0 fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  
}
html body div.firstArticle h2 {
  
  text-align: center;
  color: white;
  font-family: 'Gentium Basic';
  padding-top: 5%;

}
html body div.firstArticle p {
  color: #434a54;
  font-size: 14px;
  line-height: 1.8;
  padding: 5px 15px;
  
}


/*#content { max-width: 28em; text-align: justify; margin: 0 auto; padding: 2em; }

#content p { margin: 0 0 2em; }
*/

@media screen and (max-width:959px){
    body{
      width:100%;
    }
    .container{
      width:100%;
    }
}

@media screen and (max-width:640px){
    #body{
      width:100%;
    }
    .container{
      width:100%;
    }
}

@media screen and (max-width:320px){
    #body{
      width:320px;
    }
    .container{
      width:320px;
    }
}

.center{
text-align: center;
}

*,
* {
  margin: 0;
  padding: 0;
}
body {
  background: #95a5a6;
}
nav input {
  display: none;
}
nav label {
  position: absolute;
  top: 50px;
  right: 10px;
  top: 10px;
  z-index: 999;
  cursor: pointer;
}
nav label strong {
  padding: 0 10px;
  width: 40px;
  height: 40px;
  line-height: 40px!important;
  font: 700 14px Lato, helvetica, sans-serif;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  right: 40px;
  top: 0px;
  transition: color 250ms ease;
}
nav label b {
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  right: 0;
  top: 0;
  cursor: pointer;
  transition: background 500ms ease;
}
nav label b i {
  display: block;
  background: #fff;
  width: 24px;
  height: 4px;
  position: absolute;
  left: 8px;
  top: 11px;
  border-radius: 1000px;
  transform-origin: 20px 4px;
  transition: transform 300ms cubic-bezier(0.09, 0.92, 0, 1.435), opacity 500ms ease;
}
nav label b i:nth-child(2) {
  top: 18px;
}
nav label b i:nth-child(3) {
  transform-origin: 26px 4px;
  top: 25px;
}
nav menu {
  background: #484b4b;
  width: 100%;
  height: 48%;
  opacity: 0;
  overflow: auto;
  transition: opacity 300ms ease;
  position: fixed;
  z-index: 998;
  top: 0;
}
nav menu li {
  margin: 0;
  list-style: none;
  width: 100%;
}
nav menu li:first-child {
  margin-top: 60px;
}
nav menu li:first-child a {
  border-top: rgba(255, 255, 255, 0.2) 1px solid;
}
nav menu li a {
  padding: 20px 0;
  font: 100 18px Lato, helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;
  display: block;
  border-bottom: rgba(255, 255, 255, 0.2) 1px solid;
}
nav menu li a:hover {
  background: rgba(0, 0, 0, 0.1);
}
nav #nav:checked ~ label strong {
  color: rgba(255, 255, 255, 0.25);
}
nav #nav:checked ~ label b {
  transition-delay: 100ms;
}
nav #nav:checked ~ label b i:nth-child(1) {
  transform: rotate(45deg) translate(6px, 11px);
}
nav #nav:checked ~ label b i:nth-child(2) {
  opacity: 0;
}
nav #nav:checked ~ label b i:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -14px);
}
nav #nav:checked ~ menu {
  opacity: 1;
}

body {
  font: 400 1em/1.5 "Neuton";
  background: #090d00;
  color: grey;
  text-align: center;
  margin: 0;
}

#p2 {
  text-transform: uppercase;
  letter-spacing: .5em;
  display: inline-block;
  border: 4px double grey;
  border-width: 4px 0;
  padding: 1.5em 0em;
  position: absolute;
  top: 18%;
  left: 50%;
  width: 40em;
  margin: 0 0 0 -20em;
}
p span {
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
  -webkit-background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

body {
  font-family: sans-serif;
}

.social-icons {
  
  margin: 0 0.5%;
}
.social-icons li {
  float: left;
  position: relative;
  width: 9%;
  height: 0;
  margin: 1% 0.5%;
  padding-bottom: 9%;
}
.social-icons:last-of-type {
  margin-right: 0;
}

.social-icon a {
  display: block;
  position: absolute;
  left: 0;
  width: 70%;
  height: 70%;
  border: 0;
  background-color: #fff;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  text-decoration: none;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -moz-border-radius: 10%;
  -webkit-border-radius: 10%;
  border-radius: 10%;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.social-icon a:hover {
  background-color: #222;
  background-size: 0%;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.social-icon a:hover .social-name {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
}

.social-name {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -7px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-filter: blur(25px);
  filter: blur(25px);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.icon-facebook a {
  background-color: #3b5998;
  background-image: url("http://benhodgson.net/codepen/social/facebook-128.png");
}

.icon-twitter a {
  background-color: #00aced;
  background-image: url("http://benhodgson.net/codepen/social/twitter-128.png");
}

.icon-instagram a {
  background-color: #5c3d2e;
  background-image: url("http://benhodgson.net/codepen/social/instagram-128.png");
}

.icon-soundcloud a {
  background-color: #f60;
  background-image: url("http://benhodgson.net/codepen/social/soundcloud-128.png");
}

.icon-github a {
  background-color: #4183c4;
  background-image: url("http://benhodgson.net/codepen/social/github-128.png");
}
